In [8]:
import pandas as pd
import matplotlib as mpl
import io

df = pd.read_csv('playoffs.csv', encoding = 'latin-1')

In [4]:
#Medidas de resumen básicas para todo el dataset (Regular Season 2021-2022)
cuadro1 = df.describe()
cuadro1.to_csv('PlayoffsResumen.csv')

In [4]:
df['MP'].describe()

count    812.000000
mean      18.265394
std        9.648292
min        1.000000
25%       10.500000
50%       17.500000
75%       25.725000
max       43.500000
Name: MP, dtype: float64

In [5]:
#Equipo con jugadores más jovenes
df2 = df.groupby(['Tm']).mean()
df2 = df2.sort_values(by = 'Age', ascending=True).head(1)
df2.to_csv('JovenesPlayoffs.csv')

In [7]:
#Equipo con jugadores más viejos
df2 = df.groupby(['Tm']).mean()
df2 = df2.sort_values(by = 'Age', ascending=False).head(1)
df2.to_csv('ViejosPlayoffs.csv')

In [9]:
#Rendimiento de jugadores más experimentados (mayores de 33 años) con igual o mas minutos que la media
mas_experimentados = df.loc[(df['Age'] >= 33) & (df['MP'] > 18.265394)]
mas_experimentados = mas_experimentados.mean()
mas_experimentados.to_csv('Mas experimentados Playoffs.csv')

/var/folders/v5/q6dfn8mj6bj24g2v3ytd993w0000gn/T/ipykernel_3256/2559546217.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  mas_experimentados = mas_experimentados.mean()

In [10]:
#Rendimiento de jugadores menos experimentados (menores de 22 años) con igual o mas minutos que la media

menos_experimentados = df.loc[(df['Age'] <= 22) & (df['MP'] > 18.265394)]
menos_experimentados = menos_experimentados.mean()
menos_experimentados.to_csv('Menos experimentados Playoffs.csv')

/var/folders/v5/q6dfn8mj6bj24g2v3ytd993w0000gn/T/ipykernel_3256/1887924930.py:4: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  menos_experimentados = menos_experimentados.mean()

In [10]:
#Posición con mejor conversión de triples

posicion_tripleros1 = df.groupby(['Pos']).mean().reset_index()
posicion_tripleros1[['Pos', '3P%']].sort_values(by = '3P%', ascending = False)

      Pos       3P%
3   PF-SF  0.378000
7   SF-SG  0.360200
9   SG-PG  0.347000
1    C-PF  0.343000
5   PG-SG  0.330000
10  SG-SF  0.326000
8      SG  0.299593
6      SF  0.289513
4      PG  0.284619
2      PF  0.284257
0       C  0.197315

In [11]:
#Posición con más triples por partido

posicion_tripleros2 = df.groupby(['Pos']).mean().reset_index()
posicion_tripleros2[['Pos', '3P']].sort_values(by = '3P', ascending = False)

      Pos        3P
5   PG-SG  2.300000
3   PF-SF  1.800000
7   SF-SG  1.420000
9   SG-PG  1.325000
8      SG  1.153769
4      PG  1.035484
10  SG-SF  0.980000
6      SF  0.904430
2      PF  0.724342
1    C-PF  0.650000
0       C  0.320769

In [12]:
#Posición con mejor conversión

posicion_maspuntos1 = df.groupby(['Pos']).mean().reset_index()
posicion_maspuntos1[['Pos', 'FG%']].sort_values(by = 'FG%', ascending = False)

      Pos       FG%
1    C-PF  0.536500
0       C  0.521654
2      PF  0.454941
9   SG-PG  0.435750
3   PF-SF  0.420000
7   SF-SG  0.413800
5   PG-SG  0.410000
4      PG  0.396877
6      SF  0.394595
10  SG-SF  0.392400
8      SG  0.389940

In [13]:
#Posición con más puntos por partido

posicion_maspuntos2 = df.groupby(['Pos']).mean().reset_index()
posicion_maspuntos2[['Pos', 'FG']].sort_values(by = 'FG', ascending = False)

      Pos        FG
5   PG-SG  6.300000
1    C-PF  4.900000
9   SG-PG  3.450000
0       C  3.009231
4      PG  3.003226
3   PF-SF  2.900000
7   SF-SG  2.900000
2      PF  2.869079
8      SG  2.798492
6      SF  2.660127
10  SG-SF  2.620000

In [20]:
#Equipo con mejor conversión

mejorequipo = df.groupby(['Tm']).mean()
mejorequipo = mejorequipo.sort_values(by='FG%', ascending=False).head(1)
mejorequipo['FG%']

Tm
CHI    0.477818
Name: FG%, dtype: float64

In [19]:
#Equipo con mejor conversión de triples

mejorequipo = df.groupby(['Tm']).mean()
mejorequipo = mejorequipo.sort_values(by='3P%', ascending=False).head(1)
mejorequipo['3P%']

Tm
LAC    0.351348
Name: 3P%, dtype: float64